<div>
  <table>
    <% for( var i = 0 ; i < data.length ; i++) { %>
    <tr>
      <td>
        <a
          href="/sport/<%= data[i].id
        %>"
          class="text-green-600 underline"
          ><%=data[i].title %></a
        >
      </td>
    </tr>
    <% } %>
  </table>
</div>
